@import url('https://fonts.googleapis.com/css2?family=BBH+Bartle&family=BBH+Hegarty&family=Momo+Trust+Display&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "BBH Bartle", sans-serif;
    font-size: 1.2rem;
}
.container{
    min-height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    background-color: #eddcb4;
}
.Left{
    flex-basis: 30%;
}
.heading{
    color: #533316;
    font-size: 3rem;
    text-align: center;
}
.quote{
    color: #ff8f16;
    font-size: 1rem;
    text-align: center;
}
.Right{
    flex-basis: 50%;
    display: grid;
    gap:8px ;
    grid-template-columns: repeat(3,1fr);
    grid-auto-rows: 120px;
}
.box{
    background-size: cover;
    background-position:top;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 0.9rem;
    background:#222;
    background-blend-mode: hard-light;
    transition: all 1s ease-in-out;
}
.box:hover{
    background: #999;
    background-position: center;
}
.rowspan{
    grid-row: span 2;
}
.colspan{
    grid-column: span 2;
}

/* media query when width is <= 1024px */
@media (max-width:1024px) {
    .container{
        flex-direction: column;
    }
}
/* media query when width is <= 800px */
@media (max-width:800px) {
    .container{
        flex-direction: column;
        padding-block:20px ;
    }

    .box{
        grid-column:span 3 ;
        grid-row: span 1 ;
    }
    .Right{
        width: 100%;
       grid-auto-rows:200px ;
    }
}
